{{- if .Values.kubetaskConfig.create }}
apiVersion: kubetask.io/v1alpha1
kind: KubeTaskConfig
metadata:
  name: default
  namespace: {{ include "kubetask.namespace" . }}
  labels:
    {{- include "kubetask.labels" . | nindent 4 }}
spec:
  taskLifecycle:
    ttlSecondsAfterFinished: {{ .Values.kubetaskConfig.taskLifecycle.ttlSecondsAfterFinished }}
  {{- if .Values.kubetaskConfig.sessionPVC }}
  sessionPVC:
    name: {{ .Values.kubetaskConfig.sessionPVC.name | quote }}
    {{- if .Values.kubetaskConfig.sessionPVC.storageClassName }}
    storageClassName: {{ .Values.kubetaskConfig.sessionPVC.storageClassName | quote }}
    {{- end }}
    storageSize: {{ .Values.kubetaskConfig.sessionPVC.storageSize | quote }}
    retentionPolicy:
      ttlSecondsAfterTaskDeletion: {{ .Values.kubetaskConfig.sessionPVC.retentionPolicy.ttlSecondsAfterTaskDeletion }}
  {{- end }}
{{- end }}
